body {
  font-family: 'Lilita One', cursive;
  letter-spacing: 1px;
  margin: 0;
  background-color: rgb(207, 197, 197);
}
.header {
  background-color: #FF6F91;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: black 5px solid;
  flex-direction: column;
  align-items: center;
}
.header__img {
  width: 100px;
  margin-right: 50px;
  display: flex;
  
}
.main {
  background: linear-gradient(#FF6F91, #845EC2);
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto 30px;
}

.restaurant__food-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  width: 100%;
  position: relative;

}

.food__card {
  margin: 10px;
  width: 60%;
  border: black solid 10px;
  border-radius: 50px;
  padding: 5px;
  background-color: #FFC75F;
  list-style: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food__title {
  font-size: 30px;
  color: #845EC2;
  flex-direction: column;
}

.food__description {
  font-size: 20px;
  text-align: center;
}

.food__ingredients-list {
  display: grid;
  grid-template-columns: 50% 50%;
}


.food__image {
  width: 200px;
  height: 250px;
  margin: 20px;
  border-radius: 30px;
  
}

.food__price {
  display: inline-block;
  width: 50px;
  padding: 5px;
  border: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 25px;
}

.food__add-button {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #845EC2;
  border: none;
  transition: all 0.4s ease 0s;
}

.shopping-cart {
  
}

.food__card .food__description

.footer a {
  background-color: #845EC2;
  color: #F9F871;
  cursor: pointer;
  font-size: 30px;
  display: block;
  text-align: center;
  padding-bottom: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}